.abbb {
  color: red;
}
body{
  a {
  font-size: 12px;
}
  .app-title {
    height: 60px;
    line-height: 60px;
    padding:0 25px;
    > h2 {
      float: left;
    }
  > div {
      float: right;
    }
  }
}
